// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import global

// Header
.header-logo
  width: 100%

ul.phones
  margin: 0
  li
    list-style-type: none    

// Authentification forms
.center
  margin: auto
  top: 0
  left: 0 
  bottom: 0
  right: 0

.responsive
  width: 50%
  height: 50%
  min-width: 300px
  max-width: 480px
  padding: 12px

.field_with_errors input
  border: 1px solid $alert-text-color !important

.glyphicon-with-text:before
  vertical-align: middle

// Messages
ul.alert-list
  margin-left: 48px

