p Здравствуйте!

p На ваш логин #{@resource.email} отправлен запрос для изменения пароля. Вы можете сделать это по ссылке ниже:

p = link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token)

p Если это не ваш запрос, проигнорируйте это письмо. Ваш пароль не изменится, пока не перейдете по ссылке выше.