p Здравствуйте!

p Ваш аккаунт (логин #{@resource.email}) был заблокирован из-за превышения количества неудачных попыток входа.

p Перейдите по ссылке, чтобы разблокировать аккаунт:

p = link_to 'Разблокировать аккаунт', unlock_url(@resource, unlock_token: @token)

